.col-md-8
  #default style=("width: 800px; height: 400px;")

.col-md-4

javascript:

  var locations =  #{raw  @boats.to_json}



    function initialize() {
      var myOptions = {
        center: new google.maps.LatLng(33.890542, 151.274856),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("default"),
          myOptions);
      setMarkers(map,locations)
    }
    function setMarkers(map,locations){
    var marker, i
    for (i = 0; i < locations.length; i++)
     {
     var loan = locations[i].title
     var lat = locations[i].latitude
     var long = locations[i].longitude
     var add =  locations[i].adress




     latlngset = new google.maps.LatLng(lat, long);
      var marker = new google.maps.Marker({
              map: map, title: loan , position: latlngset
            });
            map.setCenter(marker.getPosition())
            var content = "<h2>" + add +"<small> "+loan+"</small></h2>"
      var infowindow = new google.maps.InfoWindow()
    google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
            return function() {
               infowindow.setContent(content);
               infowindow.open(map,marker);
            };
        })(marker,content,infowindow));
      }
    }
